<footer>
  <!-- Magizine container -->
  <div class="magazine">
    <h2>Inside the Michigan Engineer Magazine</h2>
    <div class="row">

    <div class="small-6 medium-3 large-3 column">

      <img src="assets/img/michigan-engineer-spring-17.png" alt="Cover of Michigan Engineer magazine Spring 2017 issue">
      <div>
        <h3>Spring 2017 Issue</h3>
        <ul class="show-for-medium">
          <li>Power Grid Down</li>
          <li>Blackhawk Down</li>
          <li>Watership Down</li>
          <li>Downton Abbey</li>
        </ul>
      </div>
    </div>
    <div class="small-6 medium-3 large-3 column">
      <img src="assets/img/michigan-engineer-fall-16.png" alt="Cover of Michigan Engineer magazine Fall 2016 issue">
      <div>
        <h3>Fall 2016 Issue</h3>
        <ul class="show-for-medium">
          <li>Ready or Not, Here They Come</li>
          <li>Red Rover, Send a Drone Right Over</li>
          <li>Simon Says, Sustainable</li>
          <li>Duck, Duck, Duck, Autonomous Cars</li>
        </ul>
      </div>
    </div>
    <div class="small-6 medium-3 large-3 column">
      <img src="assets/img/michigan-engineer-spring-16.png" alt="Cover of Michigan Engineer magazine Spring 2016 issue">
      <div>
        <h3>Spring 2016 Issue</h3>
        <ul class="show-for-medium">
          <li>Mild or Brain</li>
          <li>Mind or Manners</li>
          <li>Mind or Gap</li>
          <li>Mind or Matter</li>
        </ul>
      </div>
    </div>
    <div class="small-6 medium-3 large-3 column">
      <img src="assets/img/michigan-engineer-fall-15.png" alt="Cover of Michigan Engineer magazine Fall 2015 issue">
      <div>
        <h3>Fall 2015 Issue</h3>
        <ul class="show-for-medium">
          <li>Is it Time for Humans to Leave the Cockpit?</li>
          <li>Is it Time for Dogs to Copilot?</li>
          <li>Is it time for Cats to Govern?</li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <!-- END Magizine container -->

  <div class="row">
    <div class="small-12 medium-3 large-2 columns">
      <div class="footer__logo">
        <img src="assets/img/CoE-vert-rev-PMS.svg" alt="College of Engineering | University of Michigan" scale="0">
      </div>
    </div>
    <div class="small-12 medium-9 large-10 columns">
      <div class="row align-spaced">
    <div class="small-6 medium-4 large-4 columns">
      <h3>Michigan Engineering</h3>
      <ul>
        <li>College of Engineering</li>
        <li>1221 Beal Avenue</li>
        <li>Ann Arbor, MI 48109-2102</li>
        <li>+1 (734) 647-7000</li>
        <li>engin-info@umich.edu</li>
      </ul>
    </div>
    <div class="small-6 medium-4 large-4 columns">

      <h3>College of Engineering</h3>
      <ul>
        <li><a href="https://www.engin.umich.edu/about">About</a></li>
        <li><a href="https://www.engin.umich.edu/research">Research</a></li>
        <li><a href="https://www.engin.umich.edu/academics">Academics</a></li>
        <li><a href="https://www.engin.umich.edu/admissions">Admissions</a></li>
        <li><a href="https://www.engin.umich.edu/departments">Departments</a></li>
        <li><a href="https://www.engin.umich.edu/giving/">Giving</a></li>
        <li><a href="https://www.engin.umich.edu/faculty-staff/">Info for you</a></li>
      </ul>
    </div>
    <div class="small-12 medium-4 large-4 columns">
      <h3>Follow us</h3>
      <ul>
        <li><a href="http://www.facebook.com/michigan.engineering">Facebook</a></li>
        <li><a href="http://www.twitter.com/UMengineering">Twitter</a></li>
        <li><a href="http://instagram.com/michiganengineering">Instagram</a></li>
        <li><a href="https://news.engin.umich.edu/wp-content/themes/menc/dist/assets/images/BotSC.jpg">Snapchat</a></li>
        <li><a href="http://pinterest.com/umengineering/">Pinterest</a></li>
        <li><a href="http://www.linkedin.com/edu/school?id=42083">Linkedin</a></li>
        <li><a href="http://www.youtube.com/user/michiganengineering">YouTube</a></li>
        <li><a href="http://michiganengineering.tumblr.com/">Tumblr</a></li>
        <li><a href="https://plus.google.com/111653579154776311686/posts">Google+</a></li>
      </ul>
    </div>
  </div>
  </div>
  </div>
</footer>
